@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>@Html.ActionLink("Search For Homes", "Search", "Homes")</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("View Leads", "Index", "Leads")</h2>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Add or Edit Homes", "Index", "Homes")</h2>
    </div>
</div>